    {{>header}}

    <ul>
      <ol>
        <a href="/">Inicio</a>
      </ol>
      <ol>
        <a href="/ver-cursos">Ver Cursos</a>
      </ol>
      <ol>
        <a href="/registrarse">Registrarse</a>
      </ol>
    </ul>

    {{#if error}}
        <p>{{error}}</p>
    {{/if}}

    <h3>Iniciar Sesión</h3>
    <form action="/ini" method="post">
      <label>Ingrese documento de identidad</label>
      <input type="text" name="estudiante" placeholder=12345>
      <button >Ingresar</button>
    </form>


    {{>footer}}
