{{>header}}
<h2>Registrarse en un curso</h2>

<ul>
  <ol>
    <a href="/">Inicio</a>
  </ol>
  <ol>
    <a href="/ver-cursos">Ver Cursos</a>
  </ol>
  <ol>
    <a href="/registrarse">Registrarse</a>
  </ol>
</ul>

<h2>Registrarse como aspirante</h2>
<form action="/calculos" method="post">
  <label>Ingrese documento de identidad</label>
  <input type="text" name="estudiante" placeholder=12345>
  <button >Ingresar</button>
</form>



{{>footer}}
