{{>header}}


<div class="container-fluid" style="text-align: center">
  <h2>Listado de Cursos Disponibles</h2>
  <p>Para iniciar sesión primero debes registrarte</p>
  {{{ver-cursos-disponibles}}}
</div>




{{>footer}}
