{{>header}}
<h2>Ver cursos</h2>

<ul>
  <ol>
    <a href="/">Inicio</a>
  </ol>
  <ol>
    <a href="/ver-cursos">Ver Cursos</a>
  </ol>
  <ol>
    <a href="/registrarse">Registrarse</a>
  </ol>
</ul>

<h2>Listado de Cursos Disponibles</h2>
<p>para registrarse, debes iniciar sesión</p>

{{{ver-cursos-disponibles}}}



{{>footer}}
