{{>header}}

<h2>Ver cursos</h2>
  <ul>
    <ol>
      <a href="/">Inicio</a>
    </ol>
    <ol>
      <a href="/ver-cursos">Ver Cursos</a>
    </ol>
    <ol>
      <a href="/registrarse">Registrarse</a>
    </ol>
  </ul>


<div class="container-fluid" style="text-align: center">
  <h2>Listado de Cursos Disponibles</h2>
  <p>Para iniciar sesión primero debes registrarte</p>
  {{{ver-cursos-disponibles}}}
</div>

<h2>Listado de Cursos Disponibles</h2>

{{{ver-cursos-disponibles}}}



{{>footer}}
