{{>header}}
<ul>
  <ol>
    <a href="/">Inicio</a>
  </ol>
  <ol>
    <a href="/ver-cursos-aspirante">Ver Cursos Disponibles</a>
  </ol>
  <ol>
    <a href="/inscribir-curso">Inscribirse en un curso</a>
  </ol>
  <ol>
    <a href="/mis-cursos">Mis cursos</a>
  </ol>
  <ol>
    <a href="/cerrar">cerrar sesion</a>
  </ol>
</ul>

{{#if success}}
    <p>{{success}}</p>
{{/if}}

<h3>Bienvenido {{nombre}}</h3>

{{>footer}}
