{{>header}}

<ul>
  <ol>
    <a href="/">Inicio</a>
  </ol>
  <ol>
    <a href="/ver-cursos-aspirante">Ver Cursos Disponibles</a>
  </ol>
  <ol>
    <a href="/inscribir-curso">Inscribirse en un curso</a>
  </ol>
  <ol>
    <a href="/mis-cursos">Mis cursos</a>
  </ol>
  <ol>
    <a href="/cerrar">cerrar sesion</a>
  </ol>
</ul>


<h2>Listado de Cursos Disponibles</h2>

{{{ver-cursos-disponibles}}}



{{>footer}}
