<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Educación Contínua</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
  </head>
  <body>

    <header>
      <h1>Bienvenidos a la página de educación Contínua</h1>
    </header>
