<!DOCTYPE html>
<html lang="s">
  <head>
    <meta charset="utf-8">
    <title>Inscripción cursos</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
  </head>
  <body>

    <header>
      <h1>Inscripción a los Cursos {{estudiante }}</h1>
    </header>
